<template>
  <div class="ab">
      <div class="ab-icon" @click.stop="show">
        <svg width="20" height="12" viewBox="0 0 46 12" xmlns="http://www.w3.org/2000/svg">
          <circle cx="6" cy="6" r="6" />
          <circle cx="23" cy="6" r="6" />
          <circle cx="40" cy="6" r="6" />
        </svg>
      </div>
      <ul class="ab-dropdown" v-show="visible">
        <li v-for="(action, index) in actions" :key="index" @click="select(action)">
          {{ action.title }}
        </li>
      </ul>
  </div>
</template>

<script>
// TODO: дропдаун показывается при уходе и затем возврате мышки на элемент listitem

export default {
  props: {
    actions: { type: Array, required: true },
  },
  data() {
    return {
      visible: false,
    }
  },
  methods: {
    show() {
      document.dispatchEvent(new Event('click'))
      this.visible = true
      document.addEventListener('click', () => { this.hide() })
    },
    hide() {
      this.visible = false
    },
    select(action) {
      action.cb()
    },
  },
}
</script>

<style scoped>
.ab {
  position: relative;
  background: rgba(152, 89, 232, 0.08);
  border-radius: 5px;
}
.ab:hover {
  background: rgba(152, 89, 232, 0.2);
}

.ab > div {
  cursor: pointer;
  background: transparent;
}

.ab-icon svg {
  vertical-align: middle;
  margin: 10px 6px;
}
.ab-icon svg circle {
  fill: rgba(152, 89, 232, 0.5);
}

.ab-dropdown {
  position: absolute;
  list-style: none;

  padding: inherit;
  background: white;

  display: flex;
  flex-direction: column;
  top: 0;
  right: 0;
  z-index: 9999;
}

.ab-dropdown li {
  padding: 5px 10px;
  border: 1px solid rgb(235, 236, 240);
  border-bottom: 0px;
}
.ab-dropdown li:last-child {
  border-bottom: 1px solid rgb(235, 236, 240);
}

.ab-dropdown li:hover {
  background-color: rgba(152, 89, 232, 0.08)
}
</style>
