<template>
  <img width="32" :src="src" class="avatar" />
</template>

<script>
export default {
  props: {
    src: { type: String, default: '/default.png' },
  },
}
</script>

<style scoped>
.avatar {
  border-radius: 40px;
  margin-right: 10px;
}
.avatar:hover {
  filter: brightness(90%);
}
</style>
