<template>
  <div class="li">
    <div class="li-flex li-title">{{ item.title }}</div>
    <div class="li-flex">
      <avatar v-if="item.avatar"></avatar>
      <actions-button class="li-action-btn" :actions="item.actions"></actions-button>
    </div>
  </div>
</template>

<script>
import Avatar from '@/components/Avatar'
import ActionsButton from '@/components/ActionsButton'

export default {
  components: {
    ActionsButton,
    Avatar,
  },
  props: {
    item: { type: Object, required: true },
  },
  data() {
    return {
      mouseover: false,
    }
  },
  methods: {},
}
</script>

<style scoped>
.li {
  display: flex;
  height: 39px;
  cursor: pointer;
  border: 1px solid rgb(235, 236, 240);
  border-bottom: 0px;
  padding: 1px 8px;
}
.li:last-child {
  border-bottom: 1px solid rgb(235, 236, 240);
}

.li:hover {
  /* background-color: #9859e8; */
  background: rgba(152, 89, 232, 0.08);
  border: 1px solid rgba(152, 89, 232, 0.5)
}
.li:hover .li-flex > .li-action-btn {
  opacity: 1;
}

.li-flex {
  display: flex;
  align-self: center;
}

.li-title {
  flex-grow: 1
}

.li-action-btn {
  opacity: 0;
}
</style>
