<template>
  <div id="app">
    <draggable v-model="taskList" ghost-class="ghost" @end="end">
      <list-item v-for="(item, index) in taskList" :key="index" :item="item"></list-item>
    </draggable>
  </div>
</template>

<script>
import draggable from 'vuedraggable'
import ListItem from '@/components/ListItem'

export default {
  name: 'App',
  components: {
    draggable,
    ListItem,
  },
  data() {
    return {
      taskList: [
        {
          title: '0',
          actions: [
            { title: 'action1', cb: () => {} },
            { title: 'action2', cb: () => {} },
            { title: 'action3', cb: () => {} },
          ],
        },
        {
          title: '1',
          actions: [
            { title: 'action1', cb: () => {} },
            { title: 'action2', cb: () => {} },
            { title: 'action3', cb: () => {} },
          ],
        },
        {
          title: '2',
          actions: [
            { title: 'action1', cb: () => {} },
            { title: 'action2', cb: () => {} },
            { title: 'action3', cb: () => {} },
          ],
        },
        {
          title: '3',
          actions: [
            { title: 'action1', cb: () => {} },
            { title: 'action2', cb: () => {} },
            { title: 'action3', cb: () => {} },
          ],
        },
        {
          title: '4',
          actions: [
            { title: 'action1', cb: () => {} },
            { title: 'action2', cb: () => {} },
            { title: 'action3', cb: () => {} },
          ],
        },
      ],
    }
  },
  methods: {
    end(e) {
      console.log(e.oldIndex, e.newIndex)
    },
  },
};
</script>

<style scoped>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.ghost {
  background: rgba(152, 89, 232, 0.08);
}
</style>
